@font-face{
    src: url("/Fonts/Minecraft.ttf");
    font-family: 'CustomFont';
    font-style: normal;
    font-weight: 400;
}



p,h1, h2, h3,ul, ol, tr, td, a {
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: 400;
}

.fancy-header{
    color: #9f08d5;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h3 {
    color: #9fab27;
    text-decoration: underline;
}

/*body{*/
/*    background-color: #819ccb;*/
/*}*/
/* ../ use when referencing*/


body{
    background-image: url("/img/download.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

p,h1, h2, h3,ul, ol, tr, td, a{
    color: #f8f8d1;
}

ul.a{
    list-style-type: square;
}

ol.b{
    list-style-type: upper-roman;
}

ul.c{
    list-style-type: circle;
}

a:link {
    color:red;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:blue;
    background-color: white;
    padding: 5px;
}

/* active/selected link (:active) */
a:active {
    color:green;
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

table{
    border: thin solid white;
    border-collapse: collapse;
}

